<!DOCTYPE html>
<head>
    <title>Spring Security Example </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Add new user</div>
<div>{{#message}}
    {{message}}
{{/message}}
</div>
<form action="/registration" method="post">
    <div><label> User Name : <input type="text" name="userName"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><input type="submit" value="Register and login"/></div>
</form>
</body>
</html>